@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_Condensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_Condensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_Condensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./NotoSerif_SemiCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Добавьте остальные шрифты аналогичным образом */
