@import "./fonts/";

@import "tailwindcss";

@theme {
  --color-header: #12180b;
  --color-gray-31: #313131;

  --spacing-container: 1200px;

  --font-robotoFlex: "Roboto Flex";
}

@layer base {
  * {
    @apply font-robotoFlex;
  }

  a {
    @apply transition-all duration-300;
  }

  body.noScroll {
    overflow: hidden;
  }
}

@layer components {
  .itemLinkSocial:hover {
    @apply opacity-80;
  }
}
