@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@import "tailwindcss";
@import 'swiper/css';

@theme {
  --color-header: #12180b;
  --color-gray-31: #313131;
  --color-gray-f8: #f8f4f2;
  --color-gray-ae: #aeacab;
  --color-gray-69: #696969;
  --color-gray-7: #777777;
  --color-green: #0fc042;

  --grid-rows-0: 0fr;
  --grid-rows-1: 1fr;

  --animate-fadeIn: fadeIn 0.5s ease-out;

  --spacing-container: 1200px;

  --font-robotoFlex: "Roboto Flex";
  --font-notoSerif: "NotoSerif";

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }
}

@layer base {
  body {
    @apply font-notoSerif text-gray-31;
  }

  a:hover,
  button:hover {
    @apply opacity-80 cursor-pointer;
  }

  a,
  button,
  path,
  svg {
    @apply transition-all duration-300;
  }

  body.noScroll {
    @apply overflow-hidden;
  }

  address {
    @apply not-italic;
  }
}

@layer components {
  .inputForm {
    @apply w-full bg-white focus-within:border-gray-31 border border-transparent rounded-md placeholder:text-gray-69 p-3.5 font-robotoFlex;
  }

  .modal {
    @apply fixed inset-0 bg-black/50 backdrop-blur hidden justify-center items-center animate-fadeIn z-10;
  }
}
