/* @import "./fonts"; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --color-header: #12180b;
  --color-gray-31: #313131;
  --color-gray-f8: #f8f4f2;
  --color-gray-ae: #aeacab;
  --color-gray-69: #696969;
  --color-green: #0fc042;

  --spacing-container: 1200px;

  --font-robotoFlex: "Roboto Flex";
  --font-notoSerif: "NotoSerif";
}

@layer base {
  body {
    @apply font-notoSerif;
  }

  a:hover,
  button:hover {
    @apply opacity-80 cursor-pointer;
  }

  a,
  button,
  path {
    @apply transition-all duration-300;
  }

  body.noScroll {
    @apply overflow-hidden;
  }
}
